body {
  background-color: #3b3b3b;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
}

#nav-button {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  color: white;
  font-size: 28px;
  line-height: 45px;
}

#nav-button.click {
  left: 260px;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
  margin-top: -20px;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
  overflow: scroll;
}

nav ul li {
  line-height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a:focus{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

/* nav ul li.focus a {
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
} */

nav ul li a:hover {
  background: #1e1e1e;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show,
nav ul .serv-show.show1 {
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-top: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li.active ul li a {
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

nav ul ul li a:hover {
  color: cyan !important;
  background: #1e1e1e !important;
}

nav ul li a i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a i.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

#textInput {
  width: 50em;
  height: 2.5em;
  border-radius: 10px;
  padding-left: 15px;
  background-color: #F9F1CB;
  margin-top: 30px;
}

canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 450px;
  border-radius: 20px;
}

canvas:fullscreen {
  width: 100%;
  height: 100%;
}
