body{
    background-color: #3b3b3b;
}
.head-container{
    display: flex;

}

header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h3{
    color: white;
    font-family: Lexend Deca;
    font-size: 5em;
}

#nav-button{
    color: white;
    font-size: 3em;
    display: flex;
    margin-left:10px;
}

#buttonMenu{
    display:flex;
    justify-content: start;
    margin-right: 30%;
}

.textField{
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom:30px;
}
#inputText{
    width: 50em;
    height: 2.5em;
    border-radius: 10px;
    padding-left: 15px;
}

canvas{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 95%;
    height:450px;
    border-radius: 20px;
}

